body{

    /*Si on met la variable flex-direction : column ici, ça fait n'importe quoi*/
    display: flex;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    background: linear-gradient(to right, #879f84, rgb(213, 207, 20), rgba(250, 128, 114, 0.671));

    /*références de couleurs associées a frida khalo
    background: linear-gradient( to right,
    #574b50,
    #879f84,
    rgb(213, 207, 20),
    rgba(250, 128, 114, 0.671),
    rgba(255, 0, 0, 0.649),
    grey);
    */
}


.question{
    display: flex;                                                      /*transforme nos boutons en éléments flex*/
    flex-direction: column;                                             /*permet d'afficher en colonne*/
    align-items: center;
    text-align: center;
    width: 900px;
    height: 100px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    text-align: center;

    margin: 20px;
    padding: 35px 50px;

    background-color: white;

    border: 5px solid black;
    border-radius: 1cm;

}


.answer{
    display: flex;                                                      /*transforme nos boutons en éléments flex*/
    flex-direction: column;                                             /*permet d'afficher en colonne*/
    align-items: center;
    width: 1000px;
    height: 100px;


    margin: 20px;
    padding: 35px 50px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;

    background-color: white;
    /*border: 2px solid green;   ---> on s'en sert pas pour l'instant car on doit les afficher en fonction des réponses*/
    border-radius: 1cm;
    cursor: pointer;                                                    /*Nous montre qu'on est bien sur le button*/
}

/*changement lorsqu'on pose la souris sur un de nos bouton présent dans la class answer ( pas le bouton validé )*/
.answer:hover{
    transform: translateY(-2px);
    box-shadow: ;
}